@charset "utf-8";
/* CSS Document */

html, body {
	margin:0px;
	padding:0px;	
}
body, td {
	font: 13px Arial, Helvetica, sans-serif;
	color:#333333;
}
body {
	text-align:left;
	background:#EEEEEE;
}

a {
	color: #F50000;
	text-decoration:none;
}
a:hover {
	color: #F50000;
	text-decoration:underline;
}

a img           { border-color:#F50000 }

h1,h2,h3,h4,h5,h6 { margin:1.8em 0 0.8em 0; padding:0; color:#333333; font-family:Arial, Helvetica, sans-serif; font-weight:normal}
h1 { font-size:18px}
h2 { font-size:16px}
h3 { font-size:14px}
h4 { font-size:12px}
h5,h6 { font-size:11px}

table.table0 { border-collapse:collapse;}
table.table0 td { padding:5px; border: none}

table.table1 { border-collapse:collapse;}
table.table1 tr:hover {background: #e0e0e0}
table.table1 td { padding:5px; border: 1px solid #333333;}

table.table2 { border-collapse:collapse;}
table.table2 tr:hover {background: #e0e0e0}
table.table2 td { padding:5px; border: 1px solid #333333;}
table.table2 th { padding:8px 5px; border: 1px solid #666; background-color:#626262; color:#fff; text-align:left;}

.bodycontent {
	padding:30px 30px 30px 15px;
	line-height:1.25em;
	text-align:left;
	vertical-align:top;
}

h1.pagename {
	font:20px Arial, Helvetica, sans-serif;
	color:#F50000;
	text-transform:uppercase;
	padding:0;
	margin:0 0 15px 0;
}

.clear {
	clear:both;
	height:0;
	line-height:0;
	font-size:0;
}

/* Other
-------------------------------*/
.copyright {
	font:11px Tahoma, Geneva, sans-serif;
	color:#5D5D5D;
}
.copyright a, .copyright a:hover {
	color:#D50000;
}
.tit {
	text-align:center;
	font:10px Tahoma;
	color:#DBDBDB;
	padding-bottom:7px;
}
.path {
	padding:0;
	margin:0 0 25px 0;
}
.small {
	font-size:10px;
	text-align:left;
	padding:5px 10px 5px 0px;
}
.newsname {
	font:20px Arial, Helvetica, sans-serif;
	color:#F50000;
	text-transform:uppercase;
	padding:0;
	margin:0 0 20px 0;
}
.news p {
	padding:0;
	margin:0;
}
.news {
	padding:26px 30px 10px 23px;
	font-size:12px;
}
.news .date {
	float:left;
	display:inline;
	background:url(d_r.gif) right top no-repeat #DCDBDC;
	border-left:7px solid #E5E5E5;
	margin:0 7px 0 -10px;
	padding:4px 13px 4px 3px;
	font-size:17px;
	line-height:1.0em;
	color:#383737;
}
/* Menus
-------------------------------*/
.menu {
	margin:0;
	padding:0;
	list-style:none;
}
.menu li {
	font-size:0;
	line-height:0;
	margin:0;
	padding:0;
	border-bottom:1px solid #787878;
}
.menu li a {
	display:block;
	background:url(m_n.gif) center center repeat-x;
	font:15px/18px Arial;
	color:#F3F3F3;
	text-decoration:none;
	padding:7px 10px 7px 22px;
	position:relative;
}
.menu li a:hover {
	background:url(m_o.gif) center center repeat-x #D50000;
	color:#F3F3F3;
	text-decoration:none;
} 

.menutop {
	margin:0;
	padding:0;
	height:33px;
	list-style:none;
	text-align:left;
	background:url(bm2_rt.gif) right top no-repeat;	
}
.menutop li {
	display:inline;
	font-size:0;
	line-height:0;
	margin:0;
	padding:0;
}
.menutop li span.m2_i {
	display:inline-block;
	background:url(bm2_i.gif) right top no-repeat;
	padding:0 1px 0 0;
}
.menutop li a {
	display:inline-block;
	font:11px/11px Arial;
	color:#FFFFFF;
	text-transform:uppercase;
	text-decoration:none;
	padding:0 5px 0 0;
}
.menutop li a b.fir {
	display:inline-block;
	padding:0 0 0 5px;
}
.menutop li a b.fir b.sec {
	display:inline-block;
	font-weight:normal;
	padding:11px 3px 11px 3px;
}
.menutop li a:hover {
	color:#FFFFFF;
	text-transform:uppercase;
	text-decoration:none;
	background:url(bm2_ro.gif) right top no-repeat;
}
.menutop li a:hover b.fir {
	display:inline-block;
	background:url(bm2_lo.gif) left top no-repeat;
}
.menutop li a:hover b.fir b.sec {
	cursor:pointer;
	background:url(bm2_bgo.gif) top repeat-x;
}


.menutop_sub {
	text-align:left;
	margin:0;
	padding:0;
	list-style:none;
}
.menutop_sub li {
	display:inline;
	font-size:0;
	line-height:0;
	margin:0;
	padding:0;
}
.menutop_sub li span.mtop_pname {
	font:bold 13px/13px Arial;
	color:#FFFFFF;
	padding:0 13px 0 16px;
}
.menutop_sub li span.m2_i_sub {
	display:inline-block;
	padding:0 13px 0 13px;
	background:url(m2_i_sub.gif) left no-repeat;
}
.menutop_sub li a {
	font:13px/20px Arial;
	color:#E9E9E9;
	text-decoration:none;
}
.menutop_sub li a:hover {
	color:#E9E9E9;
	text-decoration:underline;
}

.menubot {
	text-align:center;
	margin:0;
	padding:0;
	list-style:none;
}
.menubot li {
	display:inline;
	font-size:0;
	line-height:0;
	margin:0;
	padding:0;
}
.menubot li span.m3_i {
	display:inline-block;
	background:url(m3_i.gif) right top no-repeat;
	padding:4px 14px 0 14px;
}
.menubot li a {
	font:11px Arial;
	color:#5D5D5D;
	text-decoration:none;
}
.menubot li a:hover {
	color:#D50000;
	text-decoration:none;
} 
/* Backgrounds
-------------------------------*/
#top_back           {background:url(top_back.gif) top repeat-x}
#bot_t              {background:url(bot_t.gif) top repeat-x #FFFFFF}
#bot_lt             {background:url(bot_lt.gif) left top no-repeat}
#bot_rt             {background:url(bot_rt.gif) right top no-repeat}
#bot_lb             {background:url(bot_lb.gif) left bottom no-repeat}
#bot_rb             {background:url(bot_rb.gif) right bottom no-repeat}
#bm2_t              {background:url(bm2_t.gif) top repeat-x #4C4C4C}
#bm2_lt             {background:url(bm2_lt.gif) left top no-repeat}
#bm2_lb             {background:url(bm2_lb.gif) left bottom no-repeat #626262}
#bm2_rb             {background:url(bm2_rb.gif) right bottom no-repeat; padding:5px 10px}


.thumb              {color:#000000}

/* */

td.shop-column1 { width: 70%; padding-right: 10px; }
td.shop-column2 { width: 30%; }

h2.shop-product-title { font-size: 18px; font-weight: bold; }

/* SHOP CART */

div.shop-cart { text-align: right; font-size: 10px; text-transform: uppercase; margin-bottom: 20px; }
a.shop-cart { font-size:10px; font-family: tahoma; font-weight: bold; text-decoration: none; text-transform: uppercase;}
a.shop-cart:hover { font-size:10px; font-family: tahoma; font-weight: bold; text-decoration: underline; text-transform: uppercase;}

/* SHOP PATH */

div.shop-path { text-align: left; font-size: 10px; text-transform: uppercase; margin-bottom: 10px; }
a.shop-path { font-size:10px; font-family: tahoma; font-weight: bold; text-decoration: none; text-transform: uppercase;}
a.shop-path:hover { font-size:10px; font-family: tahoma; font-weight: bold; text-decoration: underline; text-transform: uppercase;}

/* SHOP FOLDERS */

div.shop-folders { }
div.shop-folders-title { color:#000000;font-weight:bold;padding:5px;background-color:#e0e0e0; }
div.shop-folders-body { padding: 15px; font-size: 11px; }
a.shop-folder { font-size:10px; font-family: tahoma; font-weight: bold; text-decoration: none; text-transform: uppercase;}
a.shop-folder:hover { font-size:10px; font-family: tahoma; font-weight: bold; text-decoration: underline; text-transform: uppercase;}

/* SHOP PRODUCT LIST */

table.shop-products { font-size:11px; border-collapse: collapse; border-bottom: 1px solid #cccccc;  }
table.shop-products td { padding:5px; border-right: 1px solid #cccccc; border-left: 1px solid #cccccc;}
td.product-th { padding:5px; background-color: #cccccc; font-weight: bold; color: #000000; text-align: center; }
td.product-tb { padding:5px; border-top: 1px solid #cccccc; text-align: right; }

div.shop-add-to-cart { padding:5px; }
span.shop-remove-from-cart { cursor: pointer; color: #cc0000; text-decoration: underline; }
span.shop-remove-from-cart:hover { cursor: pointer; color: #000000; text-decoration: underline; }

/* SHOP PRODUCT LIST STAGE */

table.stage { font-size:11px; }
td.stage-title { text-transform:uppercase; background-color:#cccccc; padding:7px; }
td.stage-image { padding: 5px; text-align:center; }
td.stage-body { padding: 10px; }


/* SHOP PRODUCT FORMS */

input.number { border:1px solid #cccccc; }
input.shop-add-to-cart { }
form.nomargin { margin: 0px;}

/* SHOP PRODUCT MISC */

#shop-added { display:none; z-index:10000; padding:5px; border:1px solid gray; position:absolute; left:0px; top: -20px; background-color:#FFFFCC;font-size:11px;font-family: verdana; }











form.hidden { margin: 0px; }



ul.boxes {
	color: #cccccc;
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px 10px;
}

ul.boxes li { margin-bottom: 5px; }
ul.boxes li:hover { margin-bottom: 5px; }